<h1 id="profile">Profile</h1>
<div class="btn-group" role="group">
 <%= link_to "Food Search", new_user_food_path(current_user), class: "btn btn-sm btn-info" %>
 <%= link_to "Food List", user_foods_path(current_user), class: "btn btn-sm btn-warning" %>
 </div>
